<div class="page-split">
    <div class="split">
        <h1>Tasks</h1>

        <table class="task list" cselect ng-model="current_task">
            <tr>
                <th>Title</th>
                <th>Assignee</th>
                <th>Repeat</th>
                <th>Assign</th>
                <th>Deadline</th>
            </tr>
            <tr class="item" ng-repeat="task in tasks" cselect-option="task" ng-click="setCurrentTask(task)">
                <td>
                    <a class="item-link" href="#">{{ task.title }}</a>
                </td>
                <td>
                    {{ task.assignee }}
                </td>
                <td>

                </td>
                <td>

                </td>
                <td>
                    {{ task.deadline }}
                </td>
            </tr>
        </table>
    </div> 

    <div class="split" style="background: #F9F9F9; border-left: 1px solid #DDD; box-shadow: -3px 0 8px rgba(0, 0, 0, 0.1);">
        <div class="task" ng-show="current_task">
            <h2>{{ current_task.title }}</h2>

            <p>Currently assigned to {{ current_task.assignee }}</p>
        </div>
    </div>
</div>
