@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,700);

body {
    font-family: "Roboto" !important;
}

.navbar {
    margin: 0;
    font-size: 14px;
    border-radius: 0;
    border: 0;
}

.form-control, .btn {
    border-radius: 0;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
    line-height: 20px;
}

.content {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto; /* the bottom margin is the negative value of the footer's height */
    position: relative;
    height: 100%;
    padding: 0;
}

.menu {
    width: 256px;
    position: absolute;
    top: 00px;
    left: 0;
    border-right: 1px solid #ccc;
    bottom: 0;
    overflow: auto;
    background-color: #FAFAFA;
    background-color: #FCFCFC;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.12);
}

.content > :first-child {
    margin-top: 0;
}

.padding {
    padding: 32px;
    height: 100%;
    position: relative;
}

.padding > :first-child { margin-top: 0; }
.padding > :last-child { margin-bottom: 0; }

.padding > .page-header:first-child h1 {
    margin-top: 0;
}

.page {
    padding: 0;
    overflow: auto;
    position: absolute;
    top: 0px;
    left: 256px;
    right: 0px;
    bottom: 0px;
    height: 100%;
}

.page-split {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: table;
}

.page-split .split {
    display: table-cell;
    width: 50%;
    padding: 30px;
}

.menu .menu-header {
    padding: 16px;
    padding-left: 64px;
    text-transform: uppercase;
    color: #888;
    font-size: 12px;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu {
    font-size: 14px;
}

.menu ul li {
    /*border-bottom: 1px solid #AAA;*/
}

.menu ul li:first-child {
    /*border-top: 1px solid #AAA;*/
}

.menu ul li a {
    display: block;
    color: #333;
    text-decoration: none;
    transition: padding-left 0.2s ease-in-out;
    height: 40px;
    padding: 8px 16px;
}

.menu ul li a i {
    display: inline-block;
    width: 32px;
    margin-right: 16px;
    font-size: 1.1em;
    text-align: center;
    -webkit-transition: font-size 0.2s;
    vertical-align: middle;
}

.menu ul li.active a {
    color: #094;
}

.menu ul li a:hover {
    background: rgba(0, 0, 0, 0.03);
}

.menu ul li.active a i,
.menu ul li a:hover i {
    /*font-size: 1.5em;*/
}


img.avatar {
    border-radius: 8px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.avatar-48 {
    width: 48px;
    height: 48px;
}

.current-user {
    padding: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background: #094;
    /*background: #049;*/
    /*background: #904;*/
    color: #FFF;
}

.current-user > div {
    display: inline-block;
    vertical-align: middle;
}

.current-user .username {
    font-size: 18px;
    margin-left: 8px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.current-user .group {
    font-size: 12px;
}


.member-list {
    text-align: center;
    white-space: nowrap;
    margin: 64px;
}

.member-list .member {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    border: 1px solid #CCC;
    width: 256px;
    height: auto;
    -webkit-transition: 
        margin 0.5s ease,
        height 0.5s ease, 
        width 0.5s ease, 
        box-shadow 1.0s ease;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.15);
    margin: 8px;
    background: #FFF;
}

.member-list .member .avatar-full {
    position: relative;
}

.member-list .member .avatar-full img {
    width: 100%;
}


.member-list .member .username {
    font-size: 24px;
    text-align: center;
    padding: 16px;
}

.member-list .member.active {
    width: 320px;
    margin: -24px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    position: relative;
}

.member-list .member .extra-info {
    overflow: hidden;
    -webkit-transition: height 0.5s ease 0.1s, margin-top 0.5s ease;
    background: rgba(255, 255, 255, 0.5);
    height: 48px;
    margin-top: -48px;
    position: relative;
    z-index: 100;
}

.member-list .member.active .extra-info {
    height: 180px;
    margin-top: 0;
}


.member-details li {
    border-bottom: 1px solid #DDD;
    padding: 8px;
}
.member-details li:last-child {
    border-bottom: 0;
}


table.list {
    width: 100%;
}

table.list th {
    font-size: 12px;
    text-transform: uppercase;
    color: #CCC;
    font-weight: normal;
}

table.list td,
table.list th {
    line-height: 32px;
    padding: 0 16px;
    white-space: nowrap;
    vertical-align: top;
}

table.shopping .amount {
    text-align: right;
}

table.shopping .title .description {
    display: inline;
    white-space: normal;
    color: #AAA;
    margin-left: 10px;
}

.shopping .show-purchased, .shopping .show-unpurchased, .shopping .show-working { display: none; }
.shopping [data-status="unpurchased"] .show-unpurchased {display: inline;}
.shopping [data-status="purchased"] .show-purchased {display: inline;}
.shopping [data-status="working"] .show-working {display: inline;}

.shopping [data-status="purchased"] { text-decoration: line-through; color: #CCC; }

table.list tr.item td {
    cursor: pointer;
}

table.list tr.item td.status:hover {
    color: #094;
}

table.list tr.header th {
    padding-top: 16px;
}

table.list tr.item:hover td {
    background: #F8F8F8;
}

table.list tr.item.active td {
    background: #5BF;
}

table.list tr.item.active td,
table.list tr.item.active td a {
    color: #FFF;
}

.card {
    padding: 1.5rem;
    position:relative;
    z-index:2;
    border-radius:3px;
    user-select:none;
    background:white;
    box-shadow: 0 1px 2px #BBB;
    margin-bottom: 1rem;
    border: 1px solid #AAA;
}

.card.nopad {
    padding: 0;
    overflow: hidden;
}

.card > :first-child {
    margin-top: 0.2em;
}
.card > :last-child {
    margin-bottom: 0.2em;
}

.task .assignee {
    margin-bottom: 8px;
}

.task .assignee {
    background: #FFF;
    border: 1px solid #CCC;
    padding: 8px;
    line-height: 32px;
}

.task .assignee .text {
    margin: 0 8px;
}




.tt-dropdown-menu {
    min-width: 200px;
    margin-top: 0px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0 8px 8px 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 12px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;
}

.tt-suggestion p {
    margin: 0;
}



.tt-hint {
    color: #999;
}



.tt-query {
    color: red;
}

.amount {
    text-align: right;
}