{% extends "base.html" %}

{% block content %}
<div class="padding">
    <div class="page-header">
        <h1>Shopping</h1>
    </div>

    <form method="POST" action="?add">
        {{ add_form.hidden_tag() }}
    <table class="shopping list">
        <tr>
            <th width="32"></th>
            <th width="128" class="amount">Amount</th>            
            <th class="title">Title</th>
            <th width="256" class="category">Category</th>
            <th width="16"></th>
        </tr>
        {% set items = current_group.shopping_items %}
        {% for item in items %}
        <tr class="item" data-id="{{ item.id }}" data-status="{{ 'purchased' if item.purchased else 'unpurchased' }}">
            <td class="status">
                <span class="show-working">
                    <i class="fa fa-spin fa-spinner"></i>
                </span>
                <span class="show-purchased">
                    <i class="fa fa-check-square-o"></i>
                </span>
                <span class="show-unpurchased">
                    <i class="fa fa-square-o"></i>
                </span>
            </td>
            <td class="amount" width="120">
                {{ item.amount }}
            </td>
            <td class="title">
                <span class="title">
                    {{ item.title }}
                </span> 

                <span class="description">
                    {% if item.description %}
                        {{ item.description }}
                    {% else %}
                        <i class="fa fa-plus-circle"></i>
                    {% endif %}
                </span>
            </td>
            <td class="category" width="200">
                {{ item.category.title }}
            </td>
            <td></td>
        </tr>
        {% endfor %}
        <tr class="header">
            <th></th>
            <th></th>
            <th colspan="2">
                Add item 
            </th>
            <th></th>
        </tr>
        <tr>
            <td></td>
            <td>
                {{ add_form.amount(class="form-control autofocus", placeholder=add_form.amount.label.text) }}
            </td>
            <td>
                {{ add_form.title(class="form-control", placeholder=add_form.title.label.text) }}
                {{ form_errors(add_form) }}
            </td>
            <td>
                {{ add_form.category(class="form-control", placeholder=add_form.category.label.text, **{"data-autocomplete": "ShoppingCategory"}) }}
            </td>
            <td>
                <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i></button>
            </td>
        </tr> 
    </table>
    </form>
    <hr>
    <p>
        <a href="?clean" class="btn btn-default"><i class="fa fa-trash-o"></i> Clean up</a>
    </p>
</div>
{% endblock %}
