{% extends "base.html" %}

{% block content %}
<div class="page-split">
    <div class="split">
        <h1>Tasks</h1>
        <table class="task list">
            <tr>
                <th>Title</th>
                <th>Assignee</th>
                <th>Repeat</th>
                <th>Assign</th>
                <th>Deadline</th>
            </tr>
        {% for t in current_group.tasks %}
            <tr class="item{% if t == task %} active{% endif %}">
                <td>
                    <a class="item-link" href="{{ t.get_url() }}">{{ t.title }}</a>
                </td>
                <td>
                    {% if t.assignee %}
                        {{ t.assignee.get_link() }}
                    {% elif t.assignment == "all" %}
                        everyone 
                    {% endif %}
                </td>
                <td>
                    {% set repeating_icon = {"interval":"repeat", "ondemand":"flag", "single": "circle-o"} %}
                    {% set repeating_text = {"interval":"Interval", "ondemand":"On-demand", "single": "Single task"} %}
                    <i class="fa fa-{{ repeating_icon[t.repeating] }}" title="{{ repeating_text[t.repeating] }}" data-placement="right"></i>
                </td>
                <td>
                    {% set assignment_icon = {"order":"ellipsis-h", "all":"users", "one":"user"} %}
                    {% set assignment_text = {"order":"Everyone in order", "all": "All at once", "one": "Single user"} %}
                    <i class="fa fa-{{ assignment_icon[t.assignment] }}" title="{{ assignment_text[t.assignment] }}" data-placement="right"></i>
                </td>
                <td>
                    {{ t.deadline|datetime if t.deadline else "" }}
                </td>
            </tr>
        {% endfor %}
        </table>
    </div> 

    <div class="split" style="background: #F9F9F9; border-left: 1px solid #DDD; box-shadow: -3px 0 8px rgba(0, 0, 0, 0.1);">
        {% if task %}
        <div class="task">
            <h2>{{ task.title }}</h2>
            <div class="assignee">
                {% if task.assignee %}
                    <img src="{{ task.assignee.get_avatar(32) }}" alt="">
                {% endif %}
                <span class="text">
                Assigned to 
                {% if task.assignee %}
                    {{ task.assignee.get_link() }}
                {% elif task.assignment == "all" %}
                    everyone
                {% endif %}
                </span>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="assignee">
                        <span class="text">This task repeats.</span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="assignee">
                        <span class="text">This task repeats.</span>
                    </div>
                </div>
            </div>
            <div class="assignee">
                <div class="text">
                    <h4>Description</h4>
                    {{ task.description }}
                </div>
            </div>

        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
